<form [formGroup]="stepForm" (ngSubmit)="onSubmit()">
  <input formControlName="name">
  <select id="type" formControlName="type">
    <option value="" disabled>-- Select Type --</option>
    @for(t of typeList; track t) {
      <option [value]="t">{{ t }}</option>
    }
  </select>
  <p>Si succès :</p>
  @for(step of scenarioService.scenario().filter((s) => s.id !== scenarioService.selectedStepId()); track step.id) {
    <div>
      <label>
        <input type="checkbox" [value]="step.id" (change)="toggleSuccess(step.id)">
        {{ step.name }}
      </label>
    </div>
  }
  <p>Si échec :</p>
  @for(step of scenarioService.scenario().filter((s) => s.id !== scenarioService.selectedStepId()); track step.id) {
    <div>
      <label>
        <input type="checkbox" [value]="step.id" (change)="toggleFailure(step.id)">
        {{ step.name }}
      </label>
    </div>
  }
  <button type="submit">Submit</button>
</form>
